* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.picture {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:absolute;
  height: 100vh;
  width: 100vw;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.transparent {
  opacity:0;
}