@import url("../vendor/fonts.css?family=RobotoDraft:400,500,300,300italic,400italic,500italic|Roboto+Slab:400,700&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic");
* {
  color: rgba(0, 0, 0, 0.7);
}

html,
body {
  overflow: hidden;
}
@media screen and (min-width: 1080px) and (max-width: 1199px) {
  html,
body {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  html,
body {
    font-size: 1.5rem;
  }
}

.title-section {
  padding: 0 15px;
}
.title-section h1 .icon-button {
  font-size: 1em;
}

.navigation-section {
  padding: 0 30px 30px;
}
.navigation-section .card {
  padding: 0 15px;
  text-transform: uppercase;
}
.navigation-section .card.card-button {
  padding: 0;
}
.navigation-section .card.card-button .button {
  padding: 0 15px;
  width: 100%;
  text-align: left;
}
.navigation-section .card + .card {
  margin-top: 30px;
}
.navigation-section .card h3 {
  margin: 0;
  padding: 20px 0;
}
.navigation-section .card .secondary-text {
  display: block;
  padding-bottom: 20px;
}

.dialog .dialog-content {
  overflow: initial;
}
.dialog .dialog-content .text-input {
  width: 100%;
}

.secondary-text .text-input {
  width: 100%;
}

.dialog-overlay,
.picker-opened {
  background: none;
}

.checkbox input[type=checkbox] + label,
.radio input[type=radio] + label {
  color: #2196f3;
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align: right !important;
}

.justify-text {
  text-align: justify !important;
}

.f-1-2 {
  font-size: 1.2em !important;
}

.f-1-4 {
  font-size: 1.4em !important;
}

.padding-v-10 {
  padding: 10px 0 !important;
}

.slider {
  width: 40%;
}
@media screen and (max-width: 599px) {
  .slider {
    height: 4vh;
  }
}
@media screen and (min-width: 600px) {
  .slider {
    height: 4vh;
  }
}
@media screen and (min-width: 800px) {
  .slider {
    height: 6vh;
  }
}
@media screen and (max-width: 599px) {
  .slider::-webkit-slider-runnable-track {
    height: 2px;
  }
}
@media screen and (min-width: 600px) {
  .slider::-webkit-slider-runnable-track {
    height: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .slider::-webkit-slider-runnable-track {
    height: 3px;
  }
}
@media screen and (min-width: 1920px) {
  .slider::-webkit-slider-runnable-track {
    height: 4px;
  }
}

@media screen and (max-width: 599px) {
  .slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    margin-top: -6px;
  }
}
@media screen and (min-width: 600px) {
  .slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    margin-top: -9px;
  }
}
@media screen and (min-width: 1024px) {
  .slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    margin-top: -11px;
  }
}
@media screen and (min-width: 1080px) {
  .slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    margin-top: -13px;
  }
}
@media screen and (min-width: 1920px) {
  .slider::-webkit-slider-thumb {
    width: 35px;
    height: 35px;
    margin-top: -15px;
  }
}

.slider:active::-webkit-slider-thumb {
  -webkit-transform: scale(1.33);
  transform: scale(1.33);
}
@media screen and (max-width: 599px) {
  .slider:active::-webkit-slider-thumb {
    margin-top: -7px;
  }
}
@media screen and (min-width: 600px) {
  .slider:active::-webkit-slider-thumb {
    margin-top: -9px;
  }
}
@media screen and (min-width: 1024px) {
  .slider:active::-webkit-slider-thumb {
    margin-top: -11px;
  }
}
@media screen and (min-width: 1080px) {
  .slider:active::-webkit-slider-thumb {
    margin-top: -14px;
  }
}
@media screen and (min-width: 1920px) {
  .slider:active::-webkit-slider-thumb {
    margin-top: -17px;
  }
}

.switch {
  margin-right: 5px;
  position: relative;
  top: -0.17em;
}

.navigation-section .list li,
.dialog-content .list li {
  display: block;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
}
.navigation-section .list li span,
.dialog-content .list li span {
  margin: 22px 0;
}
.navigation-section .list li span.checkbox,
.dialog-content .list li span.checkbox {
  margin: 0;
}
.navigation-section .list li button,
.dialog-content .list li button {
  width: 100%;
}
.navigation-section .list li .item-text,
.dialog-content .list li .item-text {
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: initial;
}
.navigation-section .list li .secondary-text,
.dialog-content .list li .secondary-text {
  margin: 10px 0 0;
}
.navigation-section .list .flex,
.dialog-content .list .flex {
  display: flex;
  justify-content: space-between;
}

.navigation-section .list li span.item-text h3 {
  display: inline;
}

/*# sourceMappingURL=power.css.map */
