
.navigation-section,
.dialog-content {
    .list {
        li {
            display: block;
            padding: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            text-transform: uppercase;

            span {
                margin: 22px 0;

                &.checkbox {
                    margin: 0;
                }
            }

            button {
                width: 100%;
            }

            .item-text {
                padding: 0;
                text-transform: uppercase;
                text-decoration: none;
                text-align: initial;
            }

            .secondary-text {
                margin-bottom: 20px;
            }
        }

        .flex {
            display: flex;
            justify-content: space-between;
        }
    }
}
